<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime |</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="container mt-2 dash-header fixed-top">
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
        <a class="navbar-brand" href="/"><img src="/img/icons8_shield_32.png" alt="" class="img-fluid mb-2">CrimeKatanka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav mr-auto">
            
          </ul>
          <ul class="form-inline navbar-nav my-2 my-md-0">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/convict">Ex-Convict</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/complains">All Complains</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Admin 
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/">Home</a>
                  <a class="dropdown-item" href="">Edit Profile</a>
                  <a class="dropdown-item" href="">Sign-out</a>
                </div>
            </li>
              
        </ul>
        </div>
    </nav>
  </header>